**Cargar datos preparados**

In [25]:
import pandas as pd
df=pd.read_csv('Datasets/datos_preparados.csv')
X=df.drop('target',axis=1)
y=df['target']
print(X.shape)
print(y.shape)

(4401, 69)
(4401,)

**Variance Treshold**

In [26]:
from sklearn.feature_selection import VarianceThreshold

#Función de filtro de caracteristicas
def variance_threshold(X,th):
    var_thres=VarianceThreshold(threshold=th)
    var_thres.fit(X)
    new_cols = var_thres.get_support()
    return new_cols

In [27]:
# Obtener columnas seleccionadas
X_new = variance_threshold(X, 0.20)
# Nuevo dataframe
df_vth = X.iloc[:,X_new]
df_vth.head()

,age,distance_from_home,monthly_income,num_companies_worked,percent_salary_hike,total_working_years,training_times_last_year,years_at_company,years_since_last_promotion,years_with_curr_manager,...,marital_status_Married,marital_status_Single,stock_option_level_0,stock_option_level_1,environment_satisfaction_Alto,environment_satisfaction_Muy alto,job_satisfaction_Alto,job_satisfaction_Muy alto,work_life_balance_Muy buena,job_involvement_Alto
0,51,6,131160.0,1.0,11,1.0,6,1.0,0.0,0,...,True,False,True,False,True,False,False,True,False,True
1,31,10,41890.0,0.0,23,6.0,3,5.0,1.0,4,...,False,True,False,True,True,False,False,False,False,False
2,32,17,49185.0,1.0,15,5.0,2,5.0,0.0,3,...,True,False,False,False,False,False,False,False,False,True
3,38,2,83210.0,3.0,11,13.0,5,8.0,7.0,5,...,True,False,False,False,False,True,False,True,True,False
4,32,10,23420.0,4.0,12,9.0,2,6.0,0.0,4,...,False,True,False,False,False,True,False,False,True,True

In [28]:
# Obtener columnas seleccionadas
X_new = variance_threshold(X, 0.25)
# Nuevo dataframe
df_vth2 = X.iloc[:,X_new]
df_vth2.head()

,age,distance_from_home,monthly_income,num_companies_worked,percent_salary_hike,total_working_years,training_times_last_year,years_at_company,years_since_last_promotion,years_with_curr_manager,mean_time
0,51,6,131160.0,1.0,11,1.0,6,1.0,0.0,0,6.8702
1,31,10,41890.0,0.0,23,6.0,3,5.0,1.0,4,7.3160
2,32,17,49185.0,1.0,15,5.0,2,5.0,0.0,3,6.8161
3,38,2,83210.0,3.0,11,13.0,5,8.0,7.0,5,6.7892
4,32,10,23420.0,4.0,12,9.0,2,6.0,0.0,4,7.8776

**SelectKBest**

In [29]:
# Para clasificación
from sklearn.feature_selection import SelectKBest, f_classif,chi2

# Función de filtro de caracteristicas - stadis. scores
def select_kbest_classification(X,y,score_f,k):
    sel_kb = SelectKBest(score_func=score_f, k=k)
    sel_kb.fit(X,y)
    new_cols = sel_kb.get_support()
    print("Scores:\n", sel_kb.scores_, "\nP-values:\n", sel_kb.pvalues_)
    return new_cols

In [30]:
# Obtener columnas seleciconadas - (30 caracteristicas)
X_new = select_kbest_classification(X, y, f_classif, 30)
# Nuevo conjunto de datos
df_anova = X.iloc[:,X_new]
df_anova.head()

Scores:
 [1.14674021e+02 3.26032102e-01 1.85064922e+00 7.97752451e+00
 4.82372552e+00 1.56475671e+02 1.03410179e+01 1.41173445e+02
 3.27914499e+00 1.09151201e+02 1.79738311e+02 2.43502944e+01
 5.84619038e+01 1.06625482e+01 2.73403550e+01 9.79276958e-01
 1.61003664e+00 2.56629853e-01 8.01023620e-01 2.93364724e-01
 2.83997308e-01 5.67347842e+00 3.73402097e+01 7.06112748e-01
 5.91701394e-02 4.20378146e-04 2.95553067e+00 7.26231807e+00
 1.51276719e+00 1.51276719e+00 8.15091699e-01 5.06978567e+00
 1.12550347e+00 1.32294557e-03 1.51121020e+00 8.23515065e-01
 8.39184899e-01 1.10559621e-03 1.38338151e+00 8.87092588e+00
 1.00409332e+01 3.37123487e+00 5.62906949e-01 4.93832845e-01
 3.35925584e+01 3.68383474e+01 1.38798269e+02 1.28457502e+00
 2.62603388e+00 1.06608136e+00 1.33260451e-01 7.55391461e+00
 6.52922036e+01 1.16763561e+00 1.01058983e+01 2.57592067e-01
 3.68278854e+01 4.35373689e-02 3.43361407e+01 4.41849999e-01
 1.12269180e+00 4.40242180e+01 1.86114692e+01 3.27461546e+00
 6.41366201e+00 1.02335821e-02 1.39629038e+00 2.57013718e+00
 2.57013718e+00]
P-values:
 [1.95861457e-26 5.68034092e-01 1.73777607e-01 4.75748647e-03
 2.81226179e-02 2.64026383e-35 1.31047803e-03 4.54019041e-32
 7.02336627e-02 2.96298902e-25 3.36907231e-40 8.32826866e-07
 2.52923216e-14 1.10163986e-03 1.78530522e-07 3.22431806e-01
 2.04553787e-01 6.12470392e-01 3.70836467e-01 5.88099791e-01
 5.94120048e-01 1.72655384e-02 1.07801280e-09 4.00782983e-01
 8.07823751e-01 9.83642949e-01 8.56545560e-02 7.06839776e-03
 2.18783095e-01 2.18783095e-01 3.66668590e-01 2.43955329e-02
 2.88794736e-01 9.70987136e-01 2.19020262e-01 3.64204152e-01
 3.59680209e-01 9.73476330e-01 2.39589638e-01 2.91330104e-03
 1.54148941e-03 6.64114600e-02 4.53131480e-01 4.82259708e-01
 7.27020379e-09 1.39143868e-09 1.44694003e-31 2.57111882e-01
 1.05195686e-01 3.01889014e-01 7.15092707e-01 6.01241261e-03
 8.26874580e-16 2.79946828e-01 1.48820625e-03 6.11804728e-01
 1.39886307e-09 8.34726372e-01 4.97559280e-09 5.06265732e-01
 2.89397752e-01 3.63628875e-11 1.63769322e-05 7.04276383e-02
 1.13590501e-02 9.19427131e-01 2.37409545e-01 1.08970081e-01
 1.08970081e-01]

,age,num_companies_worked,percent_salary_hike,total_working_years,training_times_last_year,years_at_company,years_with_curr_manager,mean_time,business_travel_Non_Travel,business_travel_Travel_Frequently,...,marital_status_Married,marital_status_Single,environment_satisfaction_Alto,environment_satisfaction_Bajo,environment_satisfaction_Muy alto,job_satisfaction_Bajo,job_satisfaction_Muy alto,work_life_balance_Mala,work_life_balance_Muy buena,job_involvement_Bajo
0,51,1.0,11,1.0,6,1.0,0,6.8702,False,False,...,True,False,True,False,False,False,True,False,False,False
1,31,0.0,23,6.0,3,5.0,4,7.3160,False,True,...,False,True,True,False,False,False,False,False,False,False
2,32,1.0,15,5.0,2,5.0,3,6.8161,False,True,...,True,False,False,False,False,False,False,True,False,False
3,38,3.0,11,13.0,5,8.0,5,6.7892,True,False,...,True,False,False,False,True,False,True,False,True,False
4,32,4.0,12,9.0,2,6.0,4,7.8776,False,False,...,False,True,False,False,True,True,False,False,True,False

In [31]:
# Obtener columnas seleciconadas - (30 caracteristicas)
X_new = select_kbest_classification(X, y, chi2, 30)
# Nuevo conjunto de datos
df_chi2 = X.iloc[:,X_new]
df_chi2.head()

Scores:
 [2.52902718e+02 2.32942732e+00 5.51997097e+04 1.83980234e+01
 4.24352197e+00 7.16106872e+02 6.12232584e+00 4.82032482e+02
 9.78900381e+00 3.28957950e+02 4.18613543e+01 2.17555376e+01
 4.68486158e+01 3.09019941e+00 2.60226070e+01 3.39187526e-01
 1.12138141e+00 2.48331338e-01 4.89738860e-01 2.14057278e-01
 2.51184858e-01 4.58033708e+00 3.63609864e+01 4.15510913e-01
 5.27802919e-02 2.87833338e-04 2.78972149e+00 6.60096512e+00
 9.07554551e-01 6.05380138e-01 5.14455631e-01 3.22554822e+00
 9.58696972e-01 1.22791206e-03 1.44029075e+00 7.50177449e-01
 8.09652296e-01 9.11570003e-04 1.28737585e+00 7.98768962e+00
 9.47833429e+00 2.69936411e+00 4.38087473e-01 4.66164492e-01
 2.59413257e+01 1.98233408e+01 9.15167215e+01 7.33328131e-01
 1.56131634e+00 9.51705615e-01 1.25592429e-01 5.19244920e+00
 5.20226629e+01 9.41503028e-01 7.03430639e+00 1.80520537e-01
 2.93986930e+01 3.52630393e-02 2.33588875e+01 3.39665064e-01
 1.00707749e+00 4.12396571e+01 7.21268392e+00 1.34041094e+00
 6.04763911e+00 7.62340774e-03 1.25972127e+00 3.94725672e-01
 2.17507859e+00]
P-values:
 [6.04832735e-057 1.26948573e-001 0.00000000e+000 1.79243824e-005
 3.94003516e-002 9.40189461e-158 1.33485057e-002 7.71759601e-107
 1.75558547e-003 1.62087027e-073 9.79801495e-011 3.09694671e-006
 7.66872427e-012 7.87651550e-002 3.37442771e-007 5.60298573e-001
 2.89621195e-001 6.18252492e-001 4.84043816e-001 6.43605768e-001
 6.16242015e-001 3.23408522e-002 1.63952414e-009 5.19185554e-001
 8.18294108e-001 9.86464018e-001 9.48707150e-002 1.01923506e-002
 3.40764102e-001 4.36532591e-001 4.73216383e-001 7.24975182e-002
 3.27515393e-001 9.72046588e-001 2.30092297e-001 3.86420055e-001
 3.68223070e-001 9.75913755e-001 2.56532113e-001 4.70964766e-003
 2.07912657e-003 1.00388278e-001 5.08046998e-001 4.94756994e-001
 3.51953353e-007 8.49391150e-006 1.10653174e-021 3.91806534e-001
 2.11472587e-001 3.29285527e-001 7.23046462e-001 2.26852244e-002
 5.48637489e-013 3.31891601e-001 7.99628372e-003 6.70926281e-001
 5.89173651e-008 8.51045543e-001 1.34420990e-006 5.60022617e-001
 3.15604001e-001 1.34662517e-010 7.23901645e-003 2.46961511e-001
 1.39249034e-002 9.30423414e-001 2.61703857e-001 5.29825788e-001
 1.40262350e-001]

,age,monthly_income,num_companies_worked,percent_salary_hike,total_working_years,training_times_last_year,years_at_company,years_since_last_promotion,years_with_curr_manager,mean_time,...,marital_status_Married,marital_status_Single,environment_satisfaction_Alto,environment_satisfaction_Bajo,environment_satisfaction_Muy alto,job_satisfaction_Bajo,job_satisfaction_Muy alto,work_life_balance_Mala,work_life_balance_Muy buena,job_involvement_Bajo
0,51,131160.0,1.0,11,1.0,6,1.0,0.0,0,6.8702,...,True,False,True,False,False,False,True,False,False,False
1,31,41890.0,0.0,23,6.0,3,5.0,1.0,4,7.3160,...,False,True,True,False,False,False,False,False,False,False
2,32,49185.0,1.0,15,5.0,2,5.0,0.0,3,6.8161,...,True,False,False,False,False,False,False,True,False,False
3,38,83210.0,3.0,11,13.0,5,8.0,7.0,5,6.7892,...,True,False,False,False,True,False,True,False,True,False
4,32,23420.0,4.0,12,9.0,2,6.0,0.0,4,7.8776,...,False,True,False,False,True,True,False,False,True,False

**RFE**

In [32]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Función recursiva de selección de características
def recursive_feature_selection(X,y,model,k):
  rfe = RFE(model, n_features_to_select=k, step=1)
  fit = rfe.fit(X, y)
  X_new = fit.support_
  print("Num Features: %s" % (fit.n_features_))
  print("Selected Features: %s" % (fit.support_))
  print("Feature Ranking: %s" % (fit.ranking_))

  return X_new

In [33]:
# Establecer Estimador
model = LogisticRegression(max_iter=1000)
# Obtener columnas seleccionadas - (30 caracteristicas)
X_new = recursive_feature_selection(X, y, model, 30)
# Nuevo conjunto de datos
df_log = X.iloc[:,X_new]
df_log.head()

Num Features: 30
Selected Features: [False False False False False False False False False False  True  True
  True False  True  True  True False False False False  True  True False
 False False  True  True False False False  True False False  True False
  True  True False  True  True  True  True False  True  True  True False
  True False False False  True False  True False  True False  True False
 False  True  True  True  True False False False False]
Feature Ranking: [30 39 40 11 37 12  3 18 16 25  1  1  1 23  1  1  1  9 31 32 27  1  1 14
 19 38  1  1 22 13 17  1 34 28  1 26  1  1  5  1  1  1  1 10  1  1  1 21
  1 15  2  6  1  7  1 24  1 36  1  4  8  1  1  1  1 33 29 20 35]

,mean_time,business_travel_Non_Travel,business_travel_Travel_Frequently,department_Human Resources,department_Research & Development,department_Sales,education_Universitario,education_field_Human Resources,education_field_Other,education_field_Technical Degree,...,marital_status_Single,stock_option_level_1,environment_satisfaction_Bajo,environment_satisfaction_Muy alto,job_satisfaction_Bajo,job_satisfaction_Muy alto,work_life_balance_Mala,work_life_balance_Muy buena,job_involvement_Alto,job_involvement_Bajo
0,6.8702,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
1,7.3160,False,True,False,True,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
2,6.8161,False,True,False,True,False,False,False,True,False,...,False,False,False,False,False,False,True,False,True,False
3,6.7892,True,False,False,True,False,False,False,False,False,...,False,False,False,True,False,True,False,True,False,False
4,7.8776,False,False,False,True,False,False,False,False,False,...,True,False,False,True,True,False,False,True,True,False

In [34]:
# Establecer Estimador
model = RandomForestClassifier(n_estimators=300)
# Obtener columnas seleciconadas - (30 caracteristicas)
X_new = recursive_feature_selection(X, y, model, 30)
# Nuevo conjunto de datos
df_ranfor = X.iloc[:,X_new]
df_ranfor.head()

Num Features: 30
Selected Features: [ True  True  True  True  True  True  True  True  True  True  True False
  True False False  True False False  True False False False False  True
 False False False False  True  True  True  True False False False False
 False False False False False False  True False False False  True  True
  True False False False  True False  True  True  True False  True False
 False False  True  True False False False False False]
Feature Ranking: [ 1  1  1  1  1  1  1  1  1  1  1 30  1 14 13  1  8 40  1  2 23 12 27  1
 29  6 37 35  1  1  1  1 19 33 39 31 38 15 36 34 18  9  1 28 10  3  1  1
  1 22 32  4  1 16  1  1  1 20  1 11 24  5  1  1 26  7 17 21 25]

,age,distance_from_home,monthly_income,num_companies_worked,percent_salary_hike,total_working_years,training_times_last_year,years_at_company,years_since_last_promotion,years_with_curr_manager,...,marital_status_Single,stock_option_level_0,stock_option_level_1,environment_satisfaction_Bajo,environment_satisfaction_Muy alto,job_satisfaction_Alto,job_satisfaction_Bajo,job_satisfaction_Muy alto,work_life_balance_Muy buena,job_involvement_Alto
0,51,6,131160.0,1.0,11,1.0,6,1.0,0.0,0,...,False,True,False,False,False,False,False,True,False,True
1,31,10,41890.0,0.0,23,6.0,3,5.0,1.0,4,...,True,False,True,False,False,False,False,False,False,False
2,32,17,49185.0,1.0,15,5.0,2,5.0,0.0,3,...,False,False,False,False,False,False,False,False,False,True
3,38,2,83210.0,3.0,11,13.0,5,8.0,7.0,5,...,False,False,False,False,True,False,False,True,True,False
4,32,10,23420.0,4.0,12,9.0,2,6.0,0.0,4,...,True,False,False,False,True,False,True,False,True,True

**Select From model**

In [35]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import RidgeClassifier

# Selector de variables con Lasso
sel_ = SelectFromModel(RidgeClassifier(alpha=0.1), max_features=30)
sel_.fit(X, y)
print(sel_.estimator_.coef_)
#Obtener variables seleccionadas
X_new = sel_.get_support()

df_ridge = X.iloc[:,X_new]
df_ridge.head()

[[-6.99331594e-03 -7.84264695e-04 -1.03785765e-07  2.59951636e-02
   4.56601675e-03 -1.09785962e-02 -2.96420802e-02 -1.18212188e-02
   2.27607839e-02 -7.20751955e-03  1.09970811e-01 -1.45266184e-01
   1.71027204e-01 -2.57610201e-02  1.11603166e-01 -5.52713024e-02
  -5.63318634e-02 -6.45421509e-02 -9.07841798e-03 -3.97773776e-03
   2.21690046e-02  5.54293020e-02  2.03124366e-01  9.02033084e-03
  -3.85744601e-02 -1.91964760e-02 -8.59702707e-02 -6.84034899e-02
  -6.60052997e-03  6.60052997e-03  2.41715345e-02  5.49087703e-02
  -1.79648653e-03 -1.01183705e-02 -6.71654478e-02 -4.03054996e-02
  -1.12140632e-02  2.34732004e-02 -3.89799712e-02 -1.11029572e-01
   1.57043365e-01  3.31997851e-02  4.89752538e-02 -6.11624986e-02
  -9.12792223e-02 -6.62322287e-02  1.57511451e-01  1.72094217e-02
  -2.92382805e-02  2.49448754e-02 -1.29160166e-02 -4.12839705e-02
   1.71858931e-01 -3.43888039e-02 -9.61861569e-02  1.37620684e-03
   1.32520869e-01 -1.46520253e-02 -1.19245050e-01 -5.38122191e-02
  -3.65486420e-02  2.11135737e-01 -1.20774876e-01 -5.18349715e-02
   5.41549982e-02 -9.62445733e-03  7.30443064e-03  1.10084092e-02
  -1.10084092e-02]]

,mean_time,business_travel_Non_Travel,business_travel_Travel_Frequently,department_Human Resources,department_Research & Development,department_Sales,education_Doctor,education_Universitario,education_field_Human Resources,education_field_Other,...,marital_status_Married,marital_status_Single,environment_satisfaction_Bajo,environment_satisfaction_Muy alto,job_satisfaction_Bajo,job_satisfaction_Muy alto,work_life_balance_Buena,work_life_balance_Mala,work_life_balance_Muy buena,job_involvement_Bajo
0,6.8702,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,True,True,False,False,False
1,7.3160,False,True,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,6.8161,False,True,False,True,False,False,False,False,True,...,True,False,False,False,False,False,False,True,False,False
3,6.7892,True,False,False,True,False,True,False,False,False,...,True,False,False,True,False,True,False,False,True,False
4,7.8776,False,False,False,True,False,False,False,False,False,...,False,True,False,True,True,False,False,False,True,False

In [36]:
from sklearn.ensemble import GradientBoostingClassifier

# Selector de variables con Lasso
sel_ = SelectFromModel(GradientBoostingClassifier(n_estimators=300,))
sel_.fit(X, y)
print(sel_.estimator_.feature_importances_)
#Obtener variables seleccionadas
X_new = sel_.get_support()

df_gb = X.iloc[:,X_new]
df_gb.head()

[1.03626362e-01 3.84208293e-02 8.23863155e-02 4.09406264e-02
 2.64012721e-02 8.43364881e-02 2.65223198e-02 5.53042672e-02
 4.16921069e-02 6.25705195e-02 1.33425206e-01 3.64210614e-03
 2.50219452e-02 0.00000000e+00 8.32793571e-03 1.64590583e-04
 3.48348467e-03 8.15769243e-04 0.00000000e+00 7.53187807e-04
 3.35164119e-03 4.21970157e-03 7.33445784e-03 6.44139952e-03
 1.42392772e-04 2.22552534e-03 4.76390556e-04 2.16034299e-03
 1.34824500e-04 2.59870794e-03 3.11648928e-03 5.09369376e-03
 1.81882410e-03 2.96501370e-03 2.46331792e-03 2.37940334e-04
 7.10265539e-03 1.31551568e-03 3.14920664e-03 5.17084315e-03
 7.82620523e-03 2.67909169e-03 6.24146219e-03 4.54271874e-03
 8.60332778e-03 2.30795939e-03 3.51966766e-02 3.75652687e-03
 1.99846568e-03 4.57231587e-03 2.70119732e-03 2.84800965e-03
 3.13907040e-02 1.83336952e-03 9.33093238e-03 2.48141028e-03
 2.04403152e-02 1.78341070e-03 1.52111352e-02 2.81213626e-03
 3.26306752e-03 1.18722513e-02 5.15978372e-03 2.29202063e-03
 2.14220732e-03 1.83657330e-03 5.03290730e-03 1.24234318e-04
 3.65367939e-04]

,age,distance_from_home,monthly_income,num_companies_worked,percent_salary_hike,total_working_years,training_times_last_year,years_at_company,years_since_last_promotion,years_with_curr_manager,mean_time,business_travel_Travel_Frequently,marital_status_Single,environment_satisfaction_Bajo,job_satisfaction_Bajo,job_satisfaction_Muy alto
0,51,6,131160.0,1.0,11,1.0,6,1.0,0.0,0,6.8702,False,False,False,False,True
1,31,10,41890.0,0.0,23,6.0,3,5.0,1.0,4,7.3160,True,True,False,False,False
2,32,17,49185.0,1.0,15,5.0,2,5.0,0.0,3,6.8161,True,False,False,False,False
3,38,2,83210.0,3.0,11,13.0,5,8.0,7.0,5,6.7892,False,False,False,False,True
4,32,10,23420.0,4.0,12,9.0,2,6.0,0.0,4,7.8776,False,True,False,True,False